!!!5
html
  head
    title Teambition · Plan
    meta(charset='utf-8')
    meta(name="viewport",content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="HandheldFriendly",content="true")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-mobile-web-app-capable", content="yes")
    link(href='/site_media/components/UI/docs/assets/css/teambition-ui.css', rel='stylesheet')
    link(href='/site_media/stylesheets/style.css', rel='stylesheet')
    link(href='/site_media/images/favicon.ico', rel='shortcut icon')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/site_media/images/touch-icon-ipad.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/site_media/images/touch-icon-ipad-retina.png')
  body
    header.year-header.pull-left
      h1.year-title 2013
      hr.year-time-line.time-line
    for month, tls in tasklists.iteritems
      if tls|length > 0
        section.month.pull-left
          h2.month-title {{month}}月
          hr.month-time-line.time-line
          for tl in tls
            article.plan-card.card
              header.plan-card-header.card-header
                p.plan-card-title.card-description: strong {{tl.get_category_display}}
              div.plan-card-content.card-content
                ul.plans-list
                  for t in tl.tasks.all
                    li.plan {{t.content}}
    script(src='/site_media/components/jquery/jquery.min.js')
    script(src='/site_media/scripts/plan.js')
